
/*GENERAL*/
body {
	background-image: url('../images/dots.svg');
	background-size: 50px;
	background-repeat: repeat;
	font-family: 'Asap', sans-serif;
	height: 100%;

}
h1, h2, h3, #computer-score, #user-score {
	text-align: center;
	font-family: 'Modak', cursive;
	color: #fff;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #3a3a3a;
	margin: 0; 
}

h2, #computer-score, #user-score {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h1 {
	font-family: 'Modak', cursive;
	font-size: 70px;
	padding: 15px;
	color: white;
	text-align: center;
	letter-spacing: 0.05em;
}
p, li {
	font-family: 'Open Sans', sans-serif;
}

li {
	text-align: left;
}
ul {
	padding-left: 30px;
}

#win-loss-counters h3{
	text-align: left;
}

.win-lose-img {
	position: absolute;
	z-index: 1000;
	top: 50;
	left: 50;
}

/*INSTRUCTIONS BUTTON CSS START*/
#instructions-button{
    text-decoration: none;
    background: #fc76f3;
    border: none;
    outline: none;
    text-align: center;
    color: #fff;
    padding: 10px;
    width: 150px;
    height: 40px;
    transition: all 0.2s ease-in;
    border-radius: 2px;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin: 0px auto 30px auto;
    cursor: pointer;
    display: block; 
}
#instructions-button:hover {
    letter-spacing: 0.3em;
    background: #fe18c2;
}
#instructions-text {
    background-color: white;
    margin-top: 20px;
    padding: 15px;
    display: none;
    position: absolute;
    min-width: 50%;
    margin-left: 25%;
    opacity: .95;
    z-index: 500;
    margin-right: 25%;
    text-align: center;
    border-radius: 5px;
}
/*INSTRUCTIONS BUTTON CSS END*/

/*GUMMY BEARS CSS START*/

#bear-button-div {
	width: 100%;
	display: flex;
	margin: 0 0 10px 0;
	justify-content: center;
}
.bear-button {
	background-color: transparent;
	border: none;
	outline:none;
	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px transparent;
}

.bear-button:hover, .bear-button:focus, .bear-button:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#bear-button-div img {
	height: 250px;
	width: auto;
}

/*MEDIA QUERY CSS*/
@media only screen and (max-width : 768px) {
	h1 {
		font-size: 55px;
	}
	#bear-button-div {
	width: 100%;
	display: flex;
	margin: 15px 0;
	}
}

@media screen and (max-width: 640px) {

	#bear-button-div img {
		height: 200px;
		width: auto;
	}
	h1 {
		font-size: 40px;
	}
	h2, #computer-score, #user-score {
		font-size: 30px;
	}
	h3 {
		font-size: 25px;
	}

}
