body {
	background-color: pink;
}
h1, h2, h3, #computer-score, #user-score {
	font-family: 'Oleo Script', cursive;
	text-align: center;
}

h2, #computer-score, #user-score {
	font-size: 40px;
}

h1 {
	font-size: 70px;
	color: white;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: teal;
	text-align: center;
}


p {
	font-family: 'Open Sans', sans-serif;
}

.instructions-text {
	background-color: white;
	margin: 5px;
	padding: 10px;
	display: none;
	position: absolute;
	left: 25%;
	opacity: .95;
	z-index: 500;
}

#bear-button-div {
	width: 100%;
	display: flex;
	justify-content: center;
}
.bear-button {
	background-color: transparent;
	border: none;
	outline:none
}

#bear-button-div img {
	height: 300px;
	width: auto;
}
